<html>

<head runat="server">
    <META http-equiv="Content-Type" content="text/html; charset=UTF-16">
    <title>SU-Loanstar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="/route.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-app="app" ng-controller="controller">
    <section class="headerbackground">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 reportMainHeader" width="20%">
                    <span>Header1</span>
                </div>
                <div class="col-sm-6 reportMainHeader1">
                    <span>Header2</span>
                </div>
                <div class="col-sm-3 reportMainHeader2" width="10%">
                    <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/9/93/IndiGo_Logo.jpg">
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <section>
        <div class="container-fluid">
            <div class="row">

                <div>
                    <div class="col-sm-3" width="20%">
                        <div>
                           <!-- <label class="control-label"> Country:</label>-->
                            <select class='selectid' id="country" ng-model="country" ng-options="country.name for country in countries track by country._id" ng-change="GetSelectedCountry()">
                                 <option value=''>Country</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3" width="20%">
                        <div>
                           <!-- <label class="control-label">States:</label>-->
                            <select class='selectid' id="state" ng-disabled="country.length === 0 && states.length === 0" ng-model="state" ng-options="state.name for state in states track by state.id" ng-change="GetSelectedState()">
                                <option value=''>State</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" width="20%">
                        <div>
                          <!--<label class="control-label">City:</label>-->
                            <select class='selectid' id="city" ng-disabled="states.length === 0 && cities.length === 0" ng-model="city" ng-options="city for city  in cities">
                                <option value=''>City</option>
            </select>
                        </div>
                    </div>
                    <div class="col-sm-2" width="20%">
                        <button type="button" class="btn btn-primary button" ng-click="retrieve();">Retrieve</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <table class="commonTableBorder tableHeading" cellpadding="0" cellspacing="0" width="100%">
        <tr class="indexTableHeaderCell" width="100%">
            <td width="100%">XXXXXXXXXXXXXXXX</td>
        </tr>
    </table>
    <section>
        <div class="container-fluid">
            <div class="row">
                <table class="commonTableBorder" width="100%">
                    <tr>
                        <th class="componentTableStepsHeader" width="10%">XXXXXX</th>&nbsp;
                        <th class="componentTableStepsHeader" width="30%">XXXXXX</th>
                        <th class="componentTableStepsHeader" width="37%">XXXXXXXXXX</th>
                        <th class="componentTableStepsHeader" width="10%">XXXXXXX</th>
                        <th class="componentTableStepsHeader" width="12%">XXXXXXXXX</th>
                    </tr>
                    <tr id="tableData" ng-repeat="x in names">
                        <td class="componentTableCell">{{ x.scriptID }}</td>
                        <td class="componentTableCell">{{ x.scriptName }}</td>
                        <td class="componentTableCell">{{ x.scriptDescription }}</td>
                        <td class="componentTableCell">{{ x.executionResults }}</td>
                        <td class="componentTableCell">{{ x.executionDuration }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <div class="container-fluid">
        <div class="row">
            <div class="nodata">
                <h5 class="nodataHeading">{{names.nodata}}</h5>
            </div>
        </div>
    </div>
</body>

</html>