.reportMainHeader {
    background-color: #F08080;
    border: solid 1px #000000;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    height: 19%;
    padding: 20px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
}

.reportMainHeader1 {
    background-color: #6495DD;
    border: solid 1px #000000;
    color: #FFFFFF;
    font-size: 25px;
    height: 19%;
    font-weight: bold;
    padding: 32px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
}

.reportMainHeader2 {
    border: solid 1px #000000;
    color: #FFFFFF;
    font-size: 22px;
    height: 19%;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
}

.selectid {
    height: 32px;
    width: 65%;
    border-color: #6495DD;
    border-radius: 2px;
}

.button {
    width: 90%;
}