.reportMainHeader {
    background-color: #F08080;
    border: solid 1px #000000;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    height: 25%;
    padding: 3px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
}

.reportMainHeader1 {
    background-color: #6495DD;
    border: solid 1px #000000;
    color: #FFFFFF;
    font-size: 25px;
    height: 25%;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
}

.reportMainHeader2 {
    border: solid 1px #000000;
    color: #FFFFFF;
    font-size: 22px;
    height: 25%;
    font-weight: bold;
    padding: 3px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
}